/* Base Application Styles */
html, body, #app {
    height: 100%;
}

#app>div {
    height: 100%;
    
}
#app>div>div {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
