.footer-component {
    text-align: center;
    border-top: 1px solid #cecece;
    padding: 20px 0;
    margin-top: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

