.navbar-component {
    
}
.navbar-component .navbar.navbar-default {
    background: #de3163;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-link, .navbar-default .navbar-brand  {
    color: #eee;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-link:hover, .navbar-default .navbar-brand:hover  {
    color: #fff;
}
.navbar-default .navbar-link {
    margin: 0 5px;
}